header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5ljdIPVD7VSaX27Rc3TAUf4_gW4mfOg7rmg&usqp=CAU');
    padding: 2px;
    border: 0px;
    margin: 0px;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
}
#logo{
    align-items: initial;
    float: left;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
body{
    background-color:#204c8d;
}
.titulo{
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    padding-top: 25px;
    padding-bottom: 0px;
}
#Button{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    padding-top: 5px;
    cursor: pointer;
}
.irock {
    padding-left: 150px;
}